body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

img {
  display: block;
}

header {
  /* background-color: royalblue; */
  background:#f6f5ef;
}

header .inner {
  width: 1110px;
  height: 120px;
  background-color: orange;
  margin: 0 auto;
  position: relative;
}

header .inner .logo__img {
  height: 75px;
  position: absolute;
  margin: auto 0;
  top: 0;
  bottom: 0;
  left: 0;
}

header .inner .sub-menu {
  position: absolute;
  top: 10px;
  right: 0px;
  display: flex;
}

header .inner .sub-menu .menu {
  display: flex;
  position: relative;
}

header .inner .sub-menu .menu li {
  
}

header .inner .sub-menu .menu li a {
  padding: 10px 18px;
  font-size: 13px;
  text-decoration: none;
  color: black;
}

header .inner .sub-menu .menu li:before {
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background-color: #656565;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

header .inner .sub-menu .menu li:first-child:before {
  display: none;
}

header .inner .sub-menu .menu li a:hover {
  text-decoration: underline;
}

header .inner .sub-menu .search {
  /* background-color: red; */
  /* width: 30px; 하위 요소 텍스트 박스 상자가 position이 absolute이더라도 강제로 너비값을 인식합니다. */
  height: 30px;
  position: relative;
}

header .inner .sub-menu .search input {
  /* padding: 4px 1px; */
  width: 34px;
  height: 30px;
  /* position: absolute; 이걸 빼셔야 flex에서 같은 item요소로 width를 인식합니다. */
  /* right: 5px; */
  /* 아래는 버튼을 예쁘게 디자인한 css속성과 값입니다. */
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff;
  outline: none;
}

header .inner .sub-menu .search .material-symbols-outlined {
  height: 24px;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto 0;
  position: absolute;
}